@import "tailwindcss";

:root {
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #0f172a;
  background: #f8fafc;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  * {
 
  }
}

html {
  scroll-behavior: smooth;
}

body {
 
  background: linear-gradient(135deg, #0051a1 30%, #00218e 100%);
}

button,
input,
textarea {
  font: inherit;
}